<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="PharmacyDBConn" connectionString="Data Source=LAPTOP-O0D40PH6\SQLEXPRESS;Initial Catalog=Pharmacy;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Pharmacy.BusinessLayer.Properties.Settings.VirtusaDBConnectionString"
   connectionString="Data Source=LAPTOP-O0D40PH6\SQLEXPRESS;Initial Catalog=VirtusaDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Pharmacy.BusinessLayer.Properties.Settings.PharmacyDBConn"
   connectionString="Data Source=LAPTOP-O0D40PH6\SQLEXPRESS;Initial Catalog=Pharmacy;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>